__pycache__/
.pycharmrc
keys.key
keys.xml
.python-version
monyze-agent.spec
.idea/
Linux_agent_env/
build/
dist/
shell
monyze/__init__.pyc
monyze/config.pyc
monyze/config_data.pyc
monyze/daemon.pyc
monyze/data.pyc
hello.py
hello.spec
src/
hook-libc6.py
libc-2.27.so
save_monyze-agent.spec
monyze-agent